/* ===== IMPORT ===== */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* ===== VARIABLES ===== */
* {
  --dark-cyan: #087e9c;
  --medium-cyan: #18a6c9;
  --light-cyan: #3dd6fc;
  --dark-grey: #383838;
  --medium-grey: #737373;
  --light-grey: #a6a6a6;
}

/* ===== GLOBAL ===== */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: var(--dark-grey);
}

a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* ----- Elements ----- */
.container {
  margin-top: 2rem;
  padding: 2rem 2rem;
}

.ml--2 {
  margin-left: 2rem;
}

.btn {
  height: 3rem;
  padding: 1rem 1.5rem;
  align-items: center;
  background-color: var(--dark-cyan);
  font-size: 1rem;
  color: white;
  border-radius: 1.5rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.btn:hover {
  background: var(--medium-cyan);
}

/* ----- Behaviours ----- */
.d-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.list-style-none {
  list-style: none;
}

/* ===== CLASSES ===== */
/* ----- Header ----- */
/* #header {
  height: 5rem;
  padding: 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.link-menu:hover {
  border-bottom: #000 solid 0.1rem;
} */

/* ----- Hero ----- */
.hero-title {
  margin: 0;
  color: var(--dark-cyan);
}

.hero-subtitle {
  margin: 1rem 0;
  font-weight: 500;
  color: var(--medium-cyan);
}

.btn-group {
  margin: 2rem;
}

.btn-contact {
  background-color: #fff;
  color: var(--dark-grey);
}

.btn-contact:hover {
  background-color: var(--light-grey);
}

.hero-img {
  max-width: 50%;
  border-radius: 1rem;
}

/* ----- Pricing ----- */
/* ----- Blogs ----- */
/* ----- Contact Us ----- */
/* ----- Footer ----- */